* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgColors: #f8eacc;
    --buttons: #303b5f;
    --border: rgb(202, 196, 196);
    --secondary-color: #495761;
}

body {
    width: 100%;
    height: 2000px;
    position: relative;
}

.title {
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.title .search,
.person {
    width: 20px;
    height: 20px;
}

.navbar .app {
    width: 30px;
    height: 30px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    transition: background-color 0.2s ease-in;
}

.scrolled {
    background-color: var(--bgColors);
}

.nav-heading {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    height: 70px;
    align-items: center;
}


.nav-heading .app {
    margin-right: 10px;
}

.nav-heading .list ul {
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: var(--secondary-color);
    cursor: pointer;
}

.nav-heading .list ul li:hover {
    color: rgb(122, 20, 218);
}

.submit-recipe-btn {
    background-color: var(--buttons);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 18px;
    transition: 0.3s;
}

.submit-recipe-btn:hover {
    background-color: #5b648f;
}

.hero {
    background-color: #f0f0f0;
    border-top: 1px solid rgb(241, 181, 138);
}

.main {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 80px;
}

.text-container {
    padding: 70px 0;
}

.recipe-day {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    color: var(--buttons);
    padding: 8px 15px;
    background-color: #f7dfae;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.recipe-day:hover {
    background-color: #f5d184;
}

.text-container h1 {
    font-size: 80px;
    font-weight: 700;
    font-family: 'poppins';
    line-height: 100px;
    margin-top: 20px;
}

.made-by {
    display: flex;
    padding-top: 50px;
    gap: 100px;
}

.made-by p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
}

.description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 85%;
    margin-top: 40px;
}

.buttons {
    margin-top: 40px;
}

.cook-now {
    background-color: var(--buttons);
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.explore-recipes {
    border: 2px solid var(--buttons);
    color: var(--buttons);
    padding: 13px 30px;
    background: transparent;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}


.image-container {
    height: 650px;
}

.pancake-img img {
    height: 650px;
    border-radius: 30px;
    width: 520px;
    object-fit: cover;
}

.heading-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 50%;
    margin: 120px auto 50px auto;
}

.heading-gallery h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 35px;
    color: rgb(17, 21, 24);
    margin-bottom: 15px;
}

.heading-gallery p {
    font-size: 16px;
    color: rgb(104, 114, 121);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: 0 auto;
    gap: 30px;
}

.card {
    width: 420px;
    background-color: rgb(247, 247, 235);
    border-radius: 15px;
}

.card .food {
    height: 300px;
    width: 420px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card .item {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    background-color: #f7dfae;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.card .item:hover {
    background-color: #f1d493;
}

.card h3 {
    max-width: 70%;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}

.chef-info {
    display: flex;
    align-items: center;
}

.chef-info .chef {
    height: 40px;
    margin: 20px 10px 20px 20px;
}

.chef-info span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgb(104, 114, 121);
}

.view-recipes {
    display: flex;
    padding: 15px 20px;
    font-size: 16px;
    background-color: var(--buttons);
    color: white;
    border-radius: 6px;
    margin: 80px auto;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.flex-category {
    display: flex;
    justify-content: center;
    max-width: 70%;
    align-items: center;
    margin: 50px auto;
    gap: 30px;
    flex-wrap: wrap;
}

.category-card {
    width: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    height: 300px;
}

.category-card:hover .food {
    transform: scale(1.15);
    border-radius: 10px;
}

.category-card:hover .overlay {
    opacity: 0.7;
}

.category-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    border-radius: 10px;
    opacity: 0.5;
    height: 100%;
    transition: 0.3s;
}

.category-card .food {
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    border-radius: 10px;
}

.category-card h2 {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.app-container {
    display: flex;
}

.app-container .image {
    width: 50%;
    height: 550px;
}

.app-container .phone {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app-container .content {
    width: 50%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 70px;
}

.app-container .content h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #262e49;
}

.app-container .content h1 {
    font-family: 'Poppins';
    font-weight: 700;
    margin-top: 30px;
}

.app-container .content p {
    max-width: 75%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(105, 104, 104);
}

.download {
    display: flex;
    margin-top: 50px;
    gap: 12px;
}

.download .app-store {
    height: 50px;
    width: 150px;
}

.staff {
    display: flex;
    width: 70%;
    margin: 30px auto;
    justify-content: space-around;
}

.our-chef-section {
    margin-bottom: 100px;
}

.our-chef {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-chef .chefs {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.our-chef h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 50px;
}

.our-chef span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #495761;
    margin-top: 20px;
}

.social-media img {
    height: 35px;
    margin-top: 10px;
}

.community-section {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.chef-community {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.chef-community span {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.chef-community h2 {
    font-family: 'Poppins';
    font-size: 35px;
    color: white;
    margin-top: 20px;
}

.count-chef {
    display: flex;
    gap: 80px;
    text-align: center;
    margin-top: 60px;
}

.count-chef .numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.count-chef p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 99, 16);
}

.count-chef span {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
}